body {
    background: url('images/banner.jpg') ;
    background-repeat: no-repeat;
    background-position:   fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    border-radius: 8px;
}
.footer {
    background-color: #000; 
}

.footer p {
    margin: 0;
}


.social-icons a {
    color: #5BC236; 
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
}