body {
  background: url("images/banner.jpg") ;
  background-repeat: no-repeat;
  background-position:  center center fixed;
  background-size: cover;
}

.form-section {
  padding: 20px;
}
.footer {
    background-color: #000; /* Black footer */
}

.footer p {
    margin: 0;
}

/* Social media icons */
.social-icons a {
    color: #5BC236; /* Green icons */
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
}