
.green-line {
    height: 3px;
    background-color: #198754;
    
    width: 100%;
}


.nav-link {
    font-weight: 500;
   
}


.navbar-brand img {
    max-height: 40px;
}
body {
    font-family: Arial, sans-serif;
}

.card {
    border: none;
}

.card i {
    display: block;
}
body {
    font-family: Arial, sans-serif;
}

.about-us {
    background-color: #f8f9fa; 
}

.about-title {
    color: #6cc24a;
    font-weight: bold;
}

.about-us p {
    color: #333;
    line-height: 1.6;
}

.btn-success {
    background-color: #6cc24a;
    border: none;
}
.phone-front {
    position: relative;
    z-index: 2;
    width: 260px;
    height: 430px;
}

.phone-back {
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 1;
    width: 250px;
    height: 415px;
}

body {
    background-color: #f8f9fa;
}

.testimonial-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
   
}

.testimonial-card p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}

.profile-img {
    width: 60px;
    height: 60px;
    
}
.green-banner {
    background-color: #5BC236; 
}

.disclaimer-text p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1rem;
}


.footer {
    background-color: #000; 
}

.footer p {
    margin: 0;
}


.social-icons a {
    color: #5BC236; 
    margin-left: 10px;
    font-size: 18px;
    
}

.social-icons a:hover {
    color: #fff;
}
